#Telosys-Tools properties
#Sat Oct 24 23:23:26 CDT 2015
ProjectVariable.PROJECT_NAME=journal-service
DOC=doc
RES=src/main/resources
ProjectVariable.MAVEN_GROUP_ID=group.to.be.defined
ROOT_PKG=com.kumasi.journal
TemplatesFolder=TelosysTools/templates
WEB=src/main/webapp
DownloadsFolder=TelosysTools/downloads
RepositoriesFolder=TelosysTools
ProjectVariable.MYVAR=foo
SRC=src/main/java
ENTITY_PKG=com.kumasi.journal.domain
ProjectVariable.MAVEN_ARTIFACT_ID=journal-service
TEST_RES=src/test/resources
ProjectVariable.PROJECT_VERSION=0.1
LibrariesFolder=TelosysTools/lib
ProjectVariable.DBID=1
TEST_SRC=src/test/java
ProjectVariable.V2=22
TMP=tmp
